html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --primary-white-color: #ffffff;
    --hover-color: #404BBF;
    --style-color:rgb(56, 112, 152, 70%);
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
}



.loader {
    animation: rotate 1s infinite;
    height: 70px;
    width: 70px;
    margin-left: 100px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 var(--style-color);
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: var(--style-color);
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 var(--style-color);
    }
    50% {
      box-shadow: 0 0 0 var(--style-color);
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 var(--style-color);
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
  

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.cat-info {
    width: 1200px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 30px;

    background-color:var(--style-color);
    box-shadow: 0 7px 29px rgb(56, 112, 152);
    font-size: 17px;
}
.cat-cont {
    display: flex;
}

.image {
    width: 600px;
}
.breed-name {
    color: var(--title-text-color);
}
.description {
    color: var(--primary-text-color);
    min-width: 500px;
    margin-bottom: 25px;
}
.temperament {
    color: var(--primary-text-color);
}
.bold-temperament {
    color: var(--primary-text-color);
    font-weight: 600;
}

.breed-select {
    background-color: var(--style-color);
    color: #ffffff;
    height: 35px;

    margin-left: 50px;
    margin-top: 200px;
}
.text-cont {
    margin-left: 30px;
    margin-right: 30px;
    
}